---
{{ ansible_managed | comment }}
{% if ceems_api_server_config | length > 0 %}
ceems_api_server:
{{ ceems_api_server_config | to_nice_yaml(sort_keys=False) | indent(2, true) }}
{% endif %}

{% if ceems_api_server_clusters_config | length > 0 %}
clusters:
{{ ceems_api_server_clusters_config | to_nice_yaml(sort_keys=False) | indent(2, true) }}
{% endif %}

{% if ceems_api_server_updaters_config | length > 0 %}
updaters:
{{ ceems_api_server_updaters_config | to_nice_yaml(sort_keys=False,default_style='|')  | indent(2, true) }}
{% endif %}
