---
# yamllint disable rule:line-length
argument_specs:
  main:
    short_description: CEEMS Load Balancer
    description:
      - Deploy L(CEEMS Load Balancer,https://github.com/mahendrapaipuri/ceems) using ansible
    author:
      - Mahendra Paipuri
    options:
      ceems_lb_version:
        description: CEEMS Load Balancer package version. Also accepts latest as parameter.
        default: "0.5.3"
      ceems_lb_skip_install:
        description: CEEMS Load Balancer installation tasks gets skipped when set to true.
        type: bool
        default: false
      ceems_lb_binary_local_dir:
        description:
          - Enables the use of local packages instead of those distributed on github.
          - The parameter may be set to a directory where the C(ceems_lb) binary is stored on the host where ansible is run.
          - This overrides the I(ceems_lb_version) parameter
      ceems_lb_binary_url:
        description: URL of the CEEMS Load Balancer binaries .tar.gz file
        default: https://github.com/{{ _ceems_lb_repo }}/releases/download/v{{ ceems_lb_version }}/ceems-{{ ceems_lb_version }}.linux-{{ go_arch }}.tar.gz
      ceems_lb_checksums_url:
        description: URL of the ceemCEEMS Load Balancer checksums file
        default: https://github.com/{{ _ceems_lb_repo }}/releases/download/v{{ ceems_lb_version }}/sha256sums.txt
      ceems_lb_web_listen_address:
        description: Address(es) on which CEEMS Load Balancer will listen. It can accept a list of addresses too.
        default: "0.0.0.0:9030"
      ceems_lb_config:
        description:
          - Configuration of CEEMS LB.
          - Configuration under key `ceems_lb` in L(ceems_lb docs,https://mahendrapaipuri.github.io/ceems/docs/configuration/ceems-lb).
        type: dict
        required: true
      ceems_api_server_config:
        description:
          - Client configuration of CEEMS API server.
          - Configuration under key `ceems_api_server` in L(ceems_lb docs,https://mahendrapaipuri.github.io/ceems/docs/configuration/ceems-lb).
        type: dict
      ceems_api_server_clusters_config:
        description:
          - Configuration of CEEMS API server clusters. This is optional
          - Keys and values are the same as in L(clusters docs,https://mahendrapaipuri.github.io/ceems/docs/configuration/ceems-api-server#cluster_config).
        type: list
        elements: dict
      ceems_lb_tls_server_config:
        description:
          - Configuration for TLS authentication.
          - Keys and values are the same as in L(docs,https://prometheus.io/docs/prometheus/latest/configuration/https/).
        type: dict
      ceems_lb_http_server_config:
        description:
          - Config for HTTP/2 support.
          - Keys and values are the same as in L(ceems_lb docs,https://prometheus.io/docs/prometheus/latest/configuration/https/).
        type: dict
      ceems_lb_basic_auth_users:
        description: Dictionary of users and password for basic authentication. Passwords are automatically hashed with bcrypt.
        type: dict
      ceems_lb_binary_install_dir:
        description:
          - I(Advanced)
          - Directory to install ceems_lb binary
        default: /usr/local/bin
      ceems_lb_create_system_user_group:
        description:
          - I(Advanced)
          - Create system user and group for CEEMS load balancer
        default: true
      ceems_lb_system_group:
        description:
          - I(Advanced)
          - System group for CEEMS load balancer
        default: ceemslb
      ceems_lb_system_user:
        description:
          - I(Advanced)
          - CEEMS Load Balancer user
        default: ceemslb
      ceems_lb_cli_args:
        description:
          - I(Advanced)
          - Additional CLI arguments that will be passed to CEEMS Load Balancer
        type: list
        elements: str
      ceems_lb_env_vars:
        description:
          - I(Advanced)
          - Environment variables will be passed to CEEMS Load Balancer
        type: dict
