---
ceems_exporter_version: "0.1.0"
ceems_exporter_binary_local_dir: ""
ceems_exporter_binary_url: "https://github.com/{{ _ceems_exporter_repo }}/releases/download/v{{ ceems_exporter_version }}/\
                            ceems-{{ ceems_exporter_version }}.linux-{{ go_arch }}.tar.gz"
ceems_exporter_checksums_url: https://github.com/{{ _ceems_exporter_repo }}/releases/download/v{{ ceems_exporter_version }}/sha256sums.txt
ceems_exporter_skip_install: false

ceems_exporter_web_listen_address: "0.0.0.0:9010"
ceems_exporter_web_telemetry_path: /metrics

ceems_exporter_tls_server_config: {}
ceems_exporter_http_server_config: {}
ceems_exporter_basic_auth_users: {}
ceems_exporter_enabled_collectors: []
ceems_exporter_disabled_collectors: []
ceems_exporter_create_unique_jobids: false
ceems_exporter_slurm_job_props_dir: ""
ceems_exporter_gpu_type: ""
ceems_exporter_gpu_job_map_dir: ""

ceems_exporter_ipmi_dcmi_cmd: sudo /usr/sbin/ipmi-dcmi --get-system-power-statistics

ceems_exporter_cli_args: []
ceems_exporter_env_vars: {}
ceems_exporter_binary_install_dir: /usr/local/bin
ceems_exporter_system_group: ceemsexp
ceems_exporter_system_user: "{{ ceems_exporter_system_group }}"
ceems_exporter_create_system_user_group: true
