{{ ansible_managed | comment }}

[Unit]
Description=Prometheus nVIDIA DCGM Exporter
After=network-online.target

[Service]
Type=simple
User={{ dcgm_exporter_system_user }}
Group={{ dcgm_exporter_system_group }}
ExecStart={{ dcgm_exporter_binary_install_dir }}/dcgm_exporter \
    --collectors=/etc/dcgm_exporter/counters.csv \
{% if dcgm_exporter_tls_server_config | length > 0 or dcgm_exporter_http_server_config | length > 0 or dcgm_exporter_basic_auth_users | length > 0 %}
    --web-config-file=/etc/dcgm_exporter/config.yaml \
{% endif %}
{% for cli_arg in dcgm_exporter_cli_args %}
    {{ cli_arg }} \
{% endfor %}
    --address={{ dcgm_exporter_web_listen_address }}

SyslogIdentifier=dcgm_exporter
Restart=always
RestartSec=1
StartLimitInterval=0

ProtectHome=yes
NoNewPrivileges=yes

{% if (ansible_facts.packages.systemd | first).version is version('232', '>=') %}
ProtectSystem=strict
ProtectControlGroups=true
ProtectKernelModules=true
ProtectKernelTunables=yes
{% else %}
ProtectSystem=full
{% endif %}

[Install]
WantedBy=multi-user.target
